body {
    background-color:#f8f8f8;
    font-family: "Poppins";
}
.header-box {
    width: 100%;
}

.header-title {
    /* font-size: 100px !important; */
    color: #000;
    font-weight: 700;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-p {
    line-height:1.4;
    letter-spacing: .02em;
    margin-top: 0;
    margin-bottom: 1em;
    color: rgba(0,0,0,.85);
}

.header-img {
    padding-left: 60px;
}

.header-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}